@import "src/utilities/";

.resultsAmount{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1100px;
    margin: auto;

    &__data{
        font-size: 14px;
        color: $font-black;
        margin-left: 23px;
    }
}