$backgorund-white: #FFFFFF;
$backgorund-beige: #F8F8F8;

$font-white: #FFFFFF;
$font-black: #000000;
$font-grey-1: #767676;
$font-grey-2: #555555;
$font-blue: #007AFF;

$button-base: #1428A0;
$button-base-hover: #0e1d70;
$button-active: #1C1C1C;
$button-active-hover: #2d2d2d;

$energ-a: #11A533;
$energ-b: #4CCD35;
$energ-c: #AAD70B;
$energ-d: #F0E52B;
$energ-e: #FBC412;
$energ-f: #FE8127;
$energ-g: #FE2737;
